.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;  
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 138px;
    line-height: 126px;
}

h3, a {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

a:link, a:visited {
    text-decoration: none;
  }

p {
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
