// INDEX PAGE
main {
    display: flex;
    justify-content: center;
    background-color: $secondaryBackgroundColor;
    padding-bottom: 150px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .searchBar {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

input[type=text] {
    width: 500px;
    padding: 10px;
}

input:invalid {
    box-shadow: none;
}

label {
    padding: 20px;
}

button[type=submit],
.resetButton {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movieAll {
    width: 33%;
    margin: 40px 0;
    padding: 30px;
    background-color: $primaryBackgroundColor;
    transition: transform .2s;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.movieAll:hover {
    background-color: $secondaryBackgroundColor;
    transform: scale(1.1);
    opacity: 0.7;
        h3 { color: $secondaryColor;
        }
}

a:active {
    text-decoration: none;
}

button {
    display: inline-block;
    vertical-align: middle;
    background-color: $buttonColor;
}

button:hover {
    border: 1px solid $buttonHover;
    background: $buttonHover;
}

.resetButton {
    padding: 10px;
}

.searchAgain {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

// MOVIE PAGE

.movieImg img {
    padding: 50px 0 0 10px;
}
