$primaryColor: #d7d7d4;
$secondaryColor: #82cfd4;
$primaryBackgroundColor: #b4928f;
$secondaryBackgroundColor: #8e5554;
$buttonColor: #b3a49a;
$buttonHover: #82cfd4;

$headerFont: 'Barlow', sans-serif;
$baseFont: 'Lato', sans-serif;