$primaryColor: #FFFFFF;
$secondaryColor: #000000;
$primaryBackgroundColor: #005059;
$secondaryBackgroundColor: #C8E8EA;
$buttonColor: #FFB6AF;
$buttonHover: #FE9A84;

$headerFont: 'Barlow', sans-serif;
$baseFont: 'Lato', sans-serif;